name: Garmin Data Sync

on:
  # Trigger 1: The Schedule (Changed to 12:15 UTC / 6:15 AM CDMX to reset timer)
  schedule:
    - cron: '15 12 * * *'
  
  # Trigger 2: Manual Button
  workflow_dispatch:

  # Trigger 3: runs every time you save a file (Ensures the system is "alive")
  push:
    branches:
      - main

jobs:
  sync_garmin:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          pip install garminconnect gspread

      - name: Run Sync Script
        env:
          GARMIN_EMAIL: ${{ secrets.GARMIN_EMAIL }}
          GARMIN_PASS: ${{ secrets.GARMIN_PASS }}
          GOOGLE_JSON_KEY: ${{ secrets.GOOGLE_JSON_KEY }}
        run: python garmin_sync.py
